<h1>Welcome to FieldRouter</h1>
<p>This is a sample application for working with the Google Maps API.</p>
<!-- app/views/home/index.html.erb -->
<h1>FieldRouter Maps Demo</h1>
<div
  id="map1"
  data-controller="map"
  data-map-api-key-value="YOUR_API_KEY"
  data-map-lat-value="40.7128"
  data-map-lng-value="-74.0060"
  data-map-zoom-value="12"
  style="height: 400px; width: 100%;">
</div>

<div
  id="map2"
  data-controller="map"
  data-map-api-key-value="YOUR_API_KEY"
  data-map-lat-value="34.0522"
  data-map-lng-value="-118.2437"
  data-map-zoom-value="10"
  style="height: 400px; width: 100%;">
</div>